aiofiles==23.2.1
aiohttp==3.8.4
aiohttp_socks==0.8.4
Brotli==1.0.9
colorama==0.4.6
dataclasses_json==0.6.3
eth_account==0.10.0
loguru==0.7.0
retry==0.9.2
termcolor==2.4.0
ua_generator==0.1.8
web3==6.13.0
